@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --branco: #f2f2f2;
    --verde: #3C583E;
    --verde2-claro: #c8d2c9;
    --rose: #BF8079;
    --rose2-claro: #E2CDC4;
}

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;

    padding: 1rem 2rem;

    background-color: var(--verde);
}

nav{
    padding: 0.5rem 2rem;
}

nav ul{
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav li > *{
    border-bottom: solid 1.5px;
    
    padding: 3px;

    text-decoration: none;
    color: var(--branco);
    font-family: 'Comic Neue';
    font-weight: bold;
}

nav li > *:hover{
    background-color: var(--branco);

    color: var(--verde);
}