@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;

    padding: 1rem 2rem;

    background-color: aqua;
}

nav{
    background-color: blue;

    border-radius: 1rem;

    padding: 1rem 2rem;
}

nav ul{
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav *{
    text-decoration: none;

    color: black;
    font-family: 'Comic Neue';
    font-weight: bold;
}